doctype
html
    head
        link(href="/favicon.ico", rel="stylesheet", type="image/x-icon")
        link(rel='stylesheet', href='/css/site.css')
        link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/vendor/toastr/toastr.min.css')
    body
    
    block content
    include scripts